.footer{
    border-top: 1px solid #E6E8EC;
    padding-top: 80px;
    &__wrapper{
       display: flex;
       justify-content: space-between;
       gap: 32px;
    }
    &__collection{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap: 32px;
    }
    &__item{
        padding-left: 39px;
        color: #777E90;
        font-family: DMSans;
        font-size: 14px;
        font-weight: 700;
    }
    &__join{
        font-family: Poppins;
        font-size: 14px;
        font-weight: bold;
        color: #23262F;
    }
    &__input{
        margin-top: 16px;
        padding: 14px 8px 14px 16px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 18px;
        border: 2px solid #E6E8EC;
        border-radius: 90px;
        input{
            width: 100%;            
            font-size: 14px;
            border: none;
            outline: none;
            font-family: Poppins;
            color: #777E90;
            
        }
        &_img{
            border: none;
            background-color: #3B71FE;
            padding: 4px 4px 1px 5px;
            border-radius: 50px;
        }
       
    }
    &__body{
        margin-top: 48px;
        padding: 24px 0;
        &_text{
            font-size: 12px;
            font-family: Poppins;
            color: #777E90;
        }
    }
}
@media (max-width:884px) {
    .footer{
        &__wrapper{
            display: grid;
            grid-template-columns: 1fr;
        }
    }
    
}
@media (max-width:500px) {
    .footer{
        &__collection{
            grid-template-columns: repeat(2, 1fr);
        }
    }
    
}