.header{
    .navbar{
        display: flex;
        align-items: center;
        gap: 24px;
        height: 88px;
        font-family: DMSans;
        font-size: 14px;
        font-weight: 700;
        &__menu{
            display: flex;
            align-items: center;
            flex: 1;
            gap: 8px;
            color: #777E90;
            border-left: 1px solid #E6E8EC;
            padding: 12px 0 12px 40px;
            cursor: pointer;
        }
        &__collection{
            display: flex;
            align-items: center;
            gap: 24px;
            color: #777E90;

            
        }
        &__link{
            display: flex;
            gap: 12px;
            align-items: center;
        }
        &__btn{
            border: 2px solid #E6E8EC;
            background-color: #fff;
            padding: 12px 16px;
            border-radius: 90px;
            font-weight: 700;
            font-family: DMSans;
            cursor: pointer;
            transition: all .15s ease-in-out;
            
            
        }
        &__btn:hover{
            border: 1px solid #fff;
            box-shadow: 0 0 10px 0 #4b4eeb inset, 0 0 20px 2px #3345ec4b;
        }
        &__btn:active{
            background-color: #f1f1f1;
            color: #fff;
        }
        &__notification{
            cursor: pointer;
        }
        &__avatar{
            cursor: pointer;
        }
        &__burger{
            display: none;
            cursor: pointer;
        }
        
    }   
}

@media (max-width:1024px) {
    .header{
        .navbar{
            &__collection{
                display: none;
            }
        }
    }
    
}
@media (max-width:700px) {
    .navbar{
        &__btn{
            display: none;
        }
    }
    
}
@media (max-width:500px) {
    .header{
        .navbar{
            &__logo{
                flex: 1;
            }
            &__menu{
                display: none;
            }
            &__burger{
                display: block;
            }
        }       
    }
}
@media (max-width:330px) {
    .header{
        .navbar{
            &__notification{
                display: none;
            }
        }
    }
    
}